body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(48, 46, 43);
    color: white;
    text-align: center;
}

#chessboard-container {
    width: 100%;
    max-width: 700px; /* 设置棋盘最大宽度 */
    height: auto;
    aspect-ratio: 1; /* 确保棋盘保持正方形 */
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 100%;
    height: 100%;
    border: 2px solid black; /* 添加黑色边框 */
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.square:nth-child(odd) {
    background-color: #b58863;  /* 深色 */
}

.square:nth-child(even) {
    background-color: #f0d9b5;  /* 浅色 */
}

.piece {
    width: 97%;
    height: 97%;
    position: absolute;
}

h1 {
    color: black; /* 设置标题颜色为黑色 */
}

.text-align-center {
    text-align: center;
}

#myBoard {
    max-width: 100%;
    height: auto;
    overflow: scroll;
}

/* 高亮时的样式 */
.square.highlight-move {
    background-color: #808080 !important; /* 深灰色 */
}

.square.highlight-move.even {
    background-color: #d3d3d3 !important; /* 浅灰色 */
}

.no-underline {
    text-decoration: none;
}

.no-outline:focus {
    outline: none;
    box-shadow: none;
}

.btn-header {
    font-size: 20px;
    font-weight: bold;
}

/* 设置按钮之间的间距 */
.btn-block {
    margin-bottom: 15px;
}