body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #302E2B;
    color: white;
    text-align: center;
}

#chessboard-container {
    width: 100%;
    max-width: 700px;
    height: auto;
    aspect-ratio: 1; /* Ensures the board is always square */
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 100%;
    height: 100%;
    border: 2px solid black; /* Add a black border */
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.square:nth-child(odd) {
    background-color: #b58863; /* Dark squares */
}

.square:nth-child(even) {
    background-color: #f0d9b5; /* Light squares */
}

.piece {
    width: 97%;
    height: 97%;
    position: absolute;
    transition: transform 0.5s ease, opacity 0.5s ease; /* 添加淡入淡出效果 */
}

@keyframes movePiece {
    0% {
        transform: scale(1); /* 开始时棋子正常大小 */
        opacity: 1; /* 完全不透明 */
    }
    50% {
        transform: scale(1.1); /* 移动中棋子放大 */
        opacity: 0.5; /* 透明度降低以给予幽灵效果 */
    }
    100% {
        transform: scale(1) translate(var(--move-x), var(--move-y)); /* 移动到最终位置并恢复大小 */
        opacity: 1; /* 恢复不透明 */
    }
}

.animate-move {
    animation: movePiece 0.5s ease forwards; /* 应用自定义关键帧动画 */
}




h1 {
    color: black;
}

.text-align-center {
    text-align: center;
}

#myBoard {
    max-width: 100%;
    height: auto;
    overflow: scroll;
}

/* Highlight styles */
.square.highlight-move {
    background-color: #808080 !important; /* Dark grey */
}

.square.highlight-move.even {
    background-color: #d3d3d3 !important; /* Light grey */
}

.no-underline {
    text-decoration: none;
}

.no-outline:focus {
    outline: none;
    box-shadow: none;
}

.btn-header {
    font-size: 20px;
    font-weight: bold;
}

.btn-block {
    margin-bottom: 15px;
}
